body {
    margin: 0;
    padding: 0;
    background-color: #ffffff; 
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    text-align: left;
    margin-bottom: 5px;
    color: #333;
}

input[type="email"],
input[type="password"] {
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.forgot-password {
    align-self: flex-end;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 0.9em;
    color: #666;
}

.login-button {
    background-color: #925FF0;
    width: 400px;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #7b49d3;
}

.signup-link {
    margin-top: 20px;
}

.signup-link p {
    margin: 0;
    color: #333;
}

.signup-link a {
    text-decoration: none;
    color: #925FF0;
    font-weight: bold;
}
