.wishlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.wishlist-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.wishlist-table th,
.wishlist-table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.wishlist-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.product-image img {
  width: 50px;
  height: 50px;
}

.cart-button,
.remove-button {
  background-color: #9b59b6;
  color: whitesmoke;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  /* margin-right: 5px; */
  height: 40px;
  width: 180px;
}

.cart-button{
  margin-left: 40px;
}

.cart-button a {
  color: whitesmoke;
  text-decoration: none;
}

.remove-button {
  background-color: transparent;
  color: #e74c3c;
}

.remove-button i {
  font-size: 25px;
}
